$color0: #efeefb;
$color1: #cfcbf3;
$color2: #9d98e8;
$color3: #6860dc;
$color4: #533fac;
$color5: #342875;


/* CSS copied for map */

#map-title {
    font-size: 25px;
    fill: black;
}

.land {
    fill: #f9f8f7;
    stroke: black;
    stroke-width: 1;
    stroke-miterlimit: 1;
}


.colour5 {
    fill: $color5;
}

.colour4 {
    fill: $color4;
}

.colour3 {
    fill: $color3;
}

.colour2 {
    fill: $color2;
}

.colour1 {
    fill: $color1;
}

.colour0 {
    fill: $color0;
}

path:hover {
    opacity: 0.5;
}

.tooltip1 {
    font-size: 16px;
    font-weight: bold;
}

.tooltip_bg {
    fill: white;
    stroke: black;
    stroke-width: 1;
    opacity: 0.85;
}

.label {
    font-size: 1.5vw;
}

#border {
    fill: none;
    stroke: black;
    stroke-width: 1;
}